.row1 {
 margin: 16px 0;
 background: #ffffff;
 display: flex;
 align-items: center;
 overflow: hidden;
 box-sizing: border-box;
 border-radius: 10px;
}
.col-41 {
 width: 40%;
}
.img {
 margin: 5px auto;
 border-radius: 4px;
 display: block;
 max-width: 100%;
 box-sizing: border-box;
}
.col-61 {
 width: 60%;
 padding: 0 15px;
 box-sizing: border-box;
}
.price {
 color: #383335;
 font-family: "Lato";
 font-size: 14px;
 font-weight: bold;
 font-style: normal;
 line-height: 112.9%;
}
.name {
 font-family: "Lato";
 line-height: 14px;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 color: #303335;
}
.blur {
 font-family: "Lato";
 color: #92999c !important;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 14px;
}

@media only screen and (min-width: 768px) {
 .img {
  margin: 10px auto;
  height: 200px;
 }
 p,
 h5 {
  margin: 16px 0px;
 }
}
