.center {
 width: 120px;
 position: fixed;
 background-color: #ff4f4f;
 border-radius: 12px;
 bottom: 5px;
 left: 50%;
 box-sizing: border-box;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

.search {
 padding: 10px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 text-align: center;
 box-sizing: border-box;
 z-index: 100;
 cursor: pointer;
 text-decoration: none;
}
.search p {
 color: white;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
}
@media only screen and (min-width: 768px) {
 .search {
  padding: 0;
 }
}
